<!DOCTYPE html>
<html lang="en">
  <head>

    <style>
      body {
        background-color: honeydew;
        margin: 0;
        height: 100vh;
        background-image: url('img/backroundleaf.jpeg'); /* Set the path to your image */
        background-size: cover; /* Adjust according to your preference */
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        display: flex;
        grid-template-rows: 50px 1fr;
        grid-template-areas:
          "nav"
          "main";
      }
    </style>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% title = typeof title !== 'undefined' ? title : "Pets Landing Page" %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/users" <%- title === 'Foster a Pet' ? 'class="active"' : '' %>>FOSTER A PET</a>

      <a href="/pets/match" <%- title === 'Match Pet' ? 'class="active"' : '' %>>FIND MATCH</a>
      
      <a href="/pets" <%- title === 'All Pets' ? 'class="active"' : '' %>>ALL PETS</a>
    </nav>
    <main>
      <h1><%= title %></h1>
    </main>
  </body>