<!-- PATH: views/animals/match.ejs -->

<%- include('../partials/header') %> 



<h2>What pet would you like to find?</h2>
<form id="match-form" action="/pets/findMatch" method="POST">
  <!-- <form id="match-form" action="/pets/findMatch" method="POST"></form> -->
  <label>Pet Type:
    <select name="petType">
        <option value="CAT">CAT</option>
        <option value="DOG">DOG</option>
        <option value="HORSE">HORSE</option>
        <option value="LIZARD">LIZARD</option>
        <option value="FERRET">FERRET</option>
        <option value="GOLDFISH">GOLDFISH</option>
        <option value="ROCK">ROCK</option>
    </select>
  </label><br>

  <label>Pet Size:
    <select name="petSize">
          <option value="SMALL">SMALL</option>
          <option value="MEDIUM">MEDIUM</option>
          <option value="LARGE">LARGE</option>
          <option value="FARM">FARM</option>
          <option value="EXOTIC">EXOTIC</option>
          <option value="MISC">MISC</option>
    </select>
  </label><br>

  <label>Pet Color:
    <select name="petColor">
          <option value="BLACK">BLACK</option>
          <option value="BROWN">BROWN</option>
          <option value="GRAY">GRAY</option>
          <option value="MIXED">MIXED</option>
          <option value="ORANGE">ORANGE</option>
          <option value="PAINTED">PAINTED</option>
          <option value="WHITE">WHITE</option>
          <option value="OTHER">OTHER</option>
    </select>
  </label><br>
  
  <label>Pet Gender:
    <select name="petGender">
          <option value="FEMALE">FEMALE</option>
          <option value="MALE">MALE</option>
          <option value="WHATEVER">OTHER</option>
    </select>
  </label><br>

  <label>Pet Age:
    <input type="number" name="petAge">
  </label><br>

  <label>Pet Environment:
    <select name="petEnvironment">
          <option value="APARTMENT">APARTMENT</option>
          <option value="FARM">FARM</option>
          <option value="SINGLE FAMILY HOME">SINGLE HOME</option>
          <option value="MULTI FAMILY HOME">MULTI HOME</option>
          <option value="BOAT">BOAT</option>
          <option value="OTHER">OTHER</option>
          <option value="LOFT">LOFT</option>
          <option value="VAN/RV">VAN/RV</option>
    </select>
  </label><br>

  <label>Pet Classification:
    <input type="checkbox" name="spayed_neutered">Spayed/Neutered
    <input type="checkbox" name="house_trained" checked>House Trained
    <input type="checkbox" name="declawed">Declawed
    <input type="checkbox" name="special_needs">Special Needs
    <input type="checkbox" name="shots_current">Shots Current
  </label><br>

  <label>Pet Temperament:
    <select name="petTemperament">
          <option value="AFFECTIONATE">AFFECTIONATE</option>
          <option value="TIMID">TIMID</option>
          <option value="INDEPENDENT">INDEPENDENT</option>
          <option value="ENERGETIC">ENERGETIC</option>
    </select>
  </label><br>
  
  <button type="submit">Find my Pet</button>
</form>

<p><%= errorMsg %></p>
<!-- 
<%- include('../partials/header') %>  -->


<!-- Buttons at the bottom -->
<!-- <div style="margin-top: 20px;">
  <button type="submit">Find my Pet</button>
</div> -->

<%- include('../partials/footer') %>