<!-- PATH: views/flights/new.ejs -->


<h2>Enter a New Pet</h2>
<form id="new-form" action="/pets" method="POST">
  <label>Pet Type:
    <select name="petType">
        <option value="CAT">CAT</option>
        <option value="DOG">DOG</option>
        <option value="HORSE">HORSE</option>
        <option value="LIZARD">LIZARD</option>
        <option value="FERRET">FERRET</option>
        <option value="GOLDFISH">GOLDFISH</option>
        <option value="ROCK">ROCK</option>

    </select>
  </label><br>
  
  <label>Pet Classification:
    <select name="petClass">
      <option value="SMALL">SMALL</option>
      <option value="MED">MEDIUM</option>
      <option value="LRG">LARGE</option>
      <option value="FARM">FARM</option>
      <option value="EXOTIC">EXOTIC</option>
      <option value="MISC">MISCELLANEOUS</option>
    </select>
  </label><br>
  <label>Pet Sex:
    <input type="text" name="Pet-Sex">
  </label><br>
  <label>Pet Age:
    <input type="number" name="Pet-Age">
  </label><br>
  
  <button type="submit">Add Pet</button>
</form>

<p><%= errorMsg %></p>

<%- include('../partials/footer') %>