/* landing.css */

* {
background-color: honeydew;
}

body {
  margin: 0;
  font-family: fantasy;
 font-weight: 200;

}

#header {
  text-align: center;
  padding: 50px;
}

#hero-image {
  text-align: center;
}

#carousel img {
  
  max-width: 700%; 
  max-height: 500px;
  display: block;
  margin: 0 auto; /* Centers the image */
  
  border-radius: 25px;
}
 
 #landing-nav-buttons { 
  text-align: center ;
  margin: top 20px;
 }
 
 
#button-panel {
  display: flex;
  /* flex-direction: column; */
   justify-content: center; 
  height: 130 px;
  width: 100%;
  /* background-color: blue; */
  margin: 50px;
  /* position: absolute; */
  /* background-color: blue; */
  
}

#button-panel button {
  background-color: #8BD4BC; /* Green background color */
  /* color: rgb(212, 65, 138); */
  color: black;
  padding: 10px 20px;
  margin: 10px 100px 10px 100px ; 
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s; /* Add transition for the grow effect */
  font-family: Phosphate; /* Set button font to fantasy */
}

#button-panel button:hover {
  background-color: rgb(160, 214, 208); /* Darker green on hover */
  transform: scale(1.1); /* Grow effect on hover */
}
 
 #welcome-msg h3 {
  font-weight: bold;
 }

 body > nav {
  grid-area: nav;
  background-color: #bad7d2; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} 
/* // */
nav > a {
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #070101;
  background-color: #7ee5bd;
}

nav > a:hover {
  color: #61c07f;
  background-color: #7ee5bd;
}
nav > button {
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav > button:hover:not(.active) {
  color: #61c07f;
  background-color: #7ee5bd;  
}

nav > button.active {
  color: #070101;
  cursor: default;
}